{% if latest_question_list %}

<table style="text-align: left; width: 1045px; height: 140px;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;">
      <img src="/templates/polls/images/cai.jpg">
      			<br>
      </td> 
    </tr>
   <ol> 
     {% for question in latest_question_list %}
   
    <tr>
      <td style="vertical-align: top;" > <li> 
      </td>
      
      <td style="vertical-align: top;" > {{question.id }}  
      </td>
      
      <td style="vertical-align: top;" > {{ question.question_text }}</li>  
      </td>
    </tr>
    </ol> 

    {% endfor %}
   
{% else %}
    <p>No polls are available.</p>
{% endif %}
</tbody>
</table>