{% load staticfiles %}
{% csrf_token %}
{% load chartit %}

<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">  
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/Highcharts-5.0.12/code/highcharts.js"></script>
<script src="/static/Highcharts-5.0.12/code/modules/exporting.js"></script>
  
  
  <title>profile</title>  
</head>

<body >

<div class="page-header">

<table  style="text-align: left; width: 800px; height: 70px;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: middle; width: 152px; text-align: center;"><img style="width: 110px; height: 123px;" alt="" title="Logo" src="/static/images/logo_tcf.jpg">&nbsp;<big><big><big><span style="font-weight: bold;"> </span></big></big></big></td>
      <td style="vertical-align: middle; width: 883px; text-align: left;">
      
     <h1> <a href="127.0.0.1:8000/polls/profile"> Cloud Profile Manager </a></h1> </td>	

	
    </tr>
    
  </tbody>
</table>
	</div>
	
	
<br>

<br>

{% if all_profile %}


<form method="post" action="csp_detail.html" name="csp_list">
  <table style="margin-left: auto; margin-right: auto; text-align: left; width: 995px; height: 43px;" border="1" cellpadding="2" cellspacing="2">
    <tbody>

<tr> <td colspan="6" rowspan="1"  style="vertical-align: middle; width: 22px; text-align: left; height: 39px;"> Select and submit for Composite Trust Evaluation  </td> </tr>

 <tr>
        <td style="vertical-align: middle; width: 22px; text-align: left; height: 39px;">
        </td>
        <td style="vertical-align: middle; width: 22px; text-align: left; height: 39px;"> Cloud Provider <br> (Click for details)
        </td>
        <td style="vertical-align: middle; width: 22px; text-align: left; height: 39px;"> Type 
        </td>
        <td style="vertical-align: middle; width: 22px; text-align: left; height: 39px;"> EndPoint URL 
        </td>
        <td style="vertical-align: middle; width: 22px; text-align: left; height: 39px;"> Expected Trust Value = E(t,c,f) 
        </td>
        </tr> 
        
	{% for profile in all_profile %} 
      <tr>
        <td style="vertical-align: middle; width: 22px; text-align: middle; height:25px "> 
        <input name="{{profile.id}}" value="{{profile.id}}" type="radio">
        </td>
        <td style="vertical-align: middle; width: 150px; text-align: left; ">
       <a href="{% url 'polls:cspdetail' profile.id %}">	{{profile.name_text}} </a>
       	</td>
       	
       	<td style="vertical-align: middle; width: 150px; text-align: left; ">
       	{{profile.meta_text}}
       	</td>
       	<td style="vertical-align: middle; width: 300px; text-align: left; ">
       	<a href="{{profile.endpoint_text}}" >{{profile.endpoint_text}}</a>
       	</td>
       	<td style="vertical-align: middle; width: 100px; text-align: left; ">
       	{{profile.caiq_escore|floatformat:"4"}}
       	</td>
        </tr>
  	{%endfor%}
   
   <tr> <td colspan="6" rowspan="1"  style="vertical-align: middle; width: 22px; text-align: left; height: 39px;">   <input type="submit" value="Submit">
    </td></tr>
   </tbody>
  </table>
</form>

{% else %}
<p>No Profiles are available.</p>
{% endif %}
<br>

<br>

<br>

  
<div id="container"
style="margin: 0pt auto; min-width: 310px; height: 400px; max-width: 800px;">  {{ chart|load_charts:"container" }}

</div>

     

</script>


</body></html>